_site
*.swp
*.lock
.sass-cache
.jekyll-metadata
.jekyll-cache
_sass
font-awesome
dist/css/bootstrap*
dist/fonts
dist/js
dist/syntax.css
dist/bootstrap*
dist/reveal*
dist/theme
dist/reset.css
dist/css/joplin.css
vendor*
node_modules
package-lock.json
package.json

