{
  "tabWidth": 2,
  "printWidth": 80,
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "_includes/*.html",
      "options": {
        "parser": "liquid-html"
      }
    },
    {
      "files": "_layouts/*.html",
      "options": {
        "parser": "liquid-html"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "liquid-html"
      }
    }
  ]
}
