<section>
  <section>
    <h2 class="r-fit-text">STATUS</h2>
    <p class="">of nuclear power</p>
    <img
      class="r-frame"
      style="background: rgba(255, 255, 255, 0.1)"
      width="178"
      height="238"
      data-src="/img-slide/arrow.png"
      alt="Down arrow"
    >
  </section>

  <section class="full">
    <h3>In 2024, nuclear fission made:</h3>
    <div class="row">
      <div class="col-4">
        <ul>
          <li>5.1% of world energy</li>
          <li>9% of world electricity</li>
          <li>18.1% of US electricity</li>
          <li>45.6% of US low-carbon electricity</li>
        </ul>
      </div>
      <div class="col-8">
        <img
          title="World energy"
          class="r-stretch"
          src="/img-slide/primary-energy-consumption-2025.png"
        >
      </div>
    </div>
  </section>
  <section>
    <img
      title="World reactors"
      class="r-stretch"
      data-src="/img-slide/world-reactors-cb.jpg"
    >
    <p class="small">
      There are 416 power reactors in operation (<a
        href="https://pris.iaea.org/pris/"
        >PRIS</a
      >)
    </p>
    <aside class="notes"></aside>
  </section>

  {% include_relative _slide-global-capacity.html %}

  <section>
    <img
      title="France non-fossil"
      class="r-stretch"
      data-src="/img-slide/france-nuclear.png"
    >
    <p class="small">
      France went all-in on nuclear (<a
        href="https://x.com/whatisnuclear/status/1516244629942726657"
        >@whatisnuclear</a
      >)
    </p>
    <aside class="notes"></aside>
  </section>

  {% include_relative _slide-capacity-factor.html %}

  <section>
    <h3>Nuclear plants can load follow at around 40 MW per minute!</h3>
    <img
      title="Load follow"
      class="r-stretch"
      data-src="/img-slide/load-follow.png"
    >
    <p class="small">
      Technical and Economic Aspects of Load Following with Nuclear Power Plants
      (<a
        href="https://www.oecd-nea.org/upload/docs/application/pdf/2021-12/technical_and_economic_aspects_of_load_following_with_nuclear_power_plants.pdf"
        >OECD-NEA</a
      >)
    </p>
    <aside class="notes"></aside>
  </section>

  <section>
    <h3>Nuclear plants can load follow at around 40 MW per minute!</h3>
    <img
      title="Load follow"
      class="r-stretch"
      data-src="/img-slide/load-follow.png"
    >
    <p class="small">
      Technical and Economic Aspects of Load Following with Nuclear Power Plants
      (<a
        href="https://www.oecd-nea.org/upload/docs/application/pdf/2021-12/technical_and_economic_aspects_of_load_following_with_nuclear_power_plants.pdf"
        >OECD-NEA</a
      >)
    </p>
    <aside class="notes"></aside>
  </section>

  <section>
    <h3>Barakah: 4 APR-1400s in UAE</h3>
    <div class="row">
      <div class="col-8">
        <ul>
          <li>Started with proven design</li>
          <li>Brought in Korean workforce</li>
          <li>Went from 0 to APR-1400 in 10 years</li>
          <li>
            Now offering world's first green certificates for nuclear-powered
            aluminum plant
          </li>
        </ul>
      </div>
      <div class="col-4 p-0 m-0">
        <img
          title="APR-1000s in UAE"
          class="img img-fluid p-0 m-0"
          data-src="/img-slide/barakah-yay.jpg"
        >
        <p>
          Used with permission from
          <a href="https://x.com/AngelicaOung/status/1732031088195985718"
            >@AngelicaOung</a
          >
        </p>
      </div>
    </div>
    <aside class="notes"></aside>
  </section>

  <section>
    <h3>Hualong One</h3>
    <div class="row">
      <div class="col-8">
        <ul>
          <li>"China Dragon 1"</li>
          <li>Developed by CGN and CNNC</li>
          <li>3-loop PWR</li>
          <li>Approved by European Utility Requirements and UK GDA</li>
          <li>5 operational, 11 under construction as of Jan 2024</li>
          <li>~5 years to construct</li>
        </ul>
      </div>
      <div class="col-4 p-0 m-0">
        <img
          title="Hualong One"
          class="img img-fluid p-0 m-0"
          data-src="/img-slide/HPR1000,_reactor_coolant_system.png"
        >
        <p>
          Hualong One CC-BY-4.0
          <a
            href="http://www.sciencedirect.com/science/article/pii/S2095809916301515"
            >Ji Xing</a
          >
        </p>
      </div>
    </div>
    <aside class="notes"></aside>
  </section>

  <section>
    <h3>VVER-1200</h3>
    <div class="row">
      <div class="col-8">
        <ul>
          <li>$1,200/kW overnight construction cost</li>
          <li>54 month construction time</li>
          <li>34.8% net thermal efficiency</li>
          <li>Being exported broadly</li>
          <li>Foreign projects often financed by Russian govt</li>
        </ul>
      </div>
      <div class="col-4 p-0 m-0">
        <img
          title="VVER-1000 parts"
          class="img img-fluid p-0 m-0"
          data-src="/img-slide/RIAN_archive_450312_Treatment_of_interior_part_of_reactor_frame.jpg"
        >
        <p>
          Manufacturing a VVER-1000
          <a
            href="https://commons.wikimedia.org/wiki/File:RIAN_archive_450312_Treatment_of_interior_part_of_reactor_frame.jpg"
            >RIA Novosti Archive CC-BY-SA 3.0</a
          >
        </p>
      </div>
    </div>
    <aside class="notes"></aside>
  </section>

  <section>
    <h3>Westinghouse AP-1000</h3>
    <div class="row">
      <div class="col-8">
        <ul>
          <li>Up-rated from original AP-600 design for economy of scale</li>
          <li>
            Vogtle units 3 & 4 first nuclear plants to start construction in US
            since 1978
          </li>
          <li>Boondoggled</li>
          <li>Unit 3 entered commercial operation in 2023!</li>
          <li>Construction started in 2013</li>
          <li>Related VC Summer project cancelled, riddled in scandal</li>
        </ul>
      </div>
      <div class="col-4 p-0 m-0">
        <img
          title="Vogtle Unit 3"
          class="img img-fluid p-0 m-0"
          data-src="/img-slide/vogtle-construct.jpg"
        >
        <p>
          Vogtle Unit 3
          <a href="https://www.flickr.com/photos/nrcgov/50534353881/">(NRC)</a>
        </p>
      </div>
    </div>
    <aside class="notes"></aside>
  </section>
</section>
