---
layout: slides
title: Shipping Nuclear Power Out To Sea
description: >
  A talk about nuclear power on ships.
image: /img-slide/offshore-reactors-slide1.png
---
<section
  class="full"
  data-background-image="/img/1986.5.14092.1_crop_sm.jpg"
  data-background-size="contain"
>
  <p class="bottom_r">
    MOHAI, Seattle Post-Intelligencer Collection, 1986.5.14092.1, photo by
    Harvey Davis
  </p>
</section>
<section>
  <h2 id="pres-title">Shipping Nuclear Power Out To Sea</h2>
  <img
    src="/img/reactor_web.svg"
    class="img-fluid w-25 "
    alt="
      An icon of a
      nuclear reactor with an atom symbol on a cooling tower and a lightning bolt on
      the reactor.
    "
    {% imagesize img/reactor_web.svg:props %}
  >
  <p class="frontmatter small" id="presenter-c">
    Presented by:
    <span id="presenter"></span>
  </p>
  <p class="frontmatter small" id="event-c">
    <span id="event"></span>
  </p>
  <p class="frontmatter small">
    <span id="date"></span>
  </p>
</section>

<!-- prettier-ignore -->
{% include_relative _status-of-nuclear.html %}
{% include_relative _benefits-of-nuclear.html %}
{% include_relative _nuclear-shipping.html %}
{% include_relative _floating-npps.html %}
{% include_relative _how-to-help.html %}
{% include_relative _what-about-waste.html %}
