<p class="mb-1"><em><u>
{% if page.byline %}
    {% if page.author %}  By 
    {% if site.data.authors[page.author] %}
    {{ site.data.authors[page.author].display -}}, 
    {% else %}
    {{ page.author }},
    {%- endif -%}
    {%- endif -%}
    {% if page.date %} {{ page.date | date: "%Y-%m-%d" }} {% endif %}
    {% if page.byline_extra %}, {{ page.byline_extra -}} {% endif %}
    {% if page.updated %}, Updated {{ page.updated | date: "%Y-%m-%d" }}{% endif %}
    {% if page.reading_time %}, Reading time: {{ page.content | reading_time_as_i }} {% endif %}
{% endif %}
</u></em></p>