<meta name="discourse-username" content="system">

<script type="text/javascript">
  DiscourseEmbed = {
    discourseUrl: 'https://forum.whatisnuclear.com/',
    discourseEmbedUrl:
      '[EMBED_URL]({{ site.url }}{{ site.baseurl }}{{ page.url }})',
    // className: 'CLASS_NAME',
  };

  (function () {
    var d = document.createElement('script');
    d.type = 'text/javascript';
    d.async = true;
    d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
    (
      document.getElementsByTagName('head')[0] ||
      document.getElementsByTagName('body')[0]
    ).appendChild(d);
  })();
</script>
