<div class="list-group">
<h4>Featured Pages</h4>
  <a href="/" class="list-group-item"><i class="fa fa-graduation-cap fa-lg"></i> Nuclear Overview</a>
  <a href="{% link reactors.md %}" class="list-group-item"><i class="fa fa-lightbulb fa-lg"></i> Nuclear Reactors</a>
  <a href="{% link waste.md %}" class="list-group-item"><i class="fa fa-trash fa-lg"></i> Nuclear Waste</a>
  <a href="{% link reactor_history.md %}" class="list-group-item"><i class="fa fa-hourglass-start fa-lg"></i> Reactor Development History</a>
  <a href="{% link fast-reactor.md %}" class="list-group-item"><i class="fa fa-fast-forward fa-lg"></i> Fast Reactors</a>
  <a href="{% link msr.md %}" class="list-group-item"><i class="fa fa-flask fa-lg"></i> Molten Salt Reactors</a>
  <a href="{% link thorium.md %}" class="list-group-item"><i class="fa fa-bolt fa-lg"></i> Thorium Nuclear Fuel</a>
  <a href="{% link radiation-on-flights.md %}" class="list-group-item"><i class="fa fa-plane fa-lg"></i> Radiation on Airplanes</a>
  <a href="{% link chernobyl-memories.html %}" class="list-group-item"><i class="fas
          fa-save fa-lg"></i> First-hand Chernobyl Memories</a>
  <a href="{% link fukushima-fish.md %}"
      class="list-group-item"><i class="fas fa-fish"></i> Fukushima Fish</a>
  <a href="{% link geology.md %}" class="list-group-item"><i class="fa fa-globe fa-lg"></i> The Age of Earth</a>
</div>
