<hr/>
<footer class="text-center">
<iframe src="https://duckduckgo.com/search.html?site=whatisnuclear.com&prefill=Search whatisnuclear.com" style="overflow:hidden;margin:0;padding:0;width:408px;height:40px;" frameborder="0"></iframe>
	<p>&copy; Whatisnuclear.com 2007-2020 | <a href="/license.html">CC-BY-NC</a></p></footer> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js" defer async></script>
<script src="/dist/js/bootstrap.min.js"defer async></script>
