<hr/>

{% if page.comments %}
  Reader comments
  <div id="remark42"></div>
{% endif %}
<footer class="text-center">
  <form
    action="https://duckduckgo.com/"
    id="search"
    method="get">
    <input
      name="sites"
      type="hidden"
      value="whatisnuclear.com" />
    <input
      class="search"
      maxlength="300"
      name="q"
      placeholder="Search"
      type="text" />
    <input type="submit" value="Search" />
  </form>

  <p>
    &copy; Whatisnuclear.com 2007-2023 |
    <a href="{% link license.md %}">CC-BY-NC</a>
    |
    <a href="{% link contact.md %}">Contact</a>
    |
    <a href="{% link about.md %}">About</a>
    |
    <a href="{% link privacy.md %}">Privacy</a>
    |
    <a href="{% link terms.md %}">Terms</a>
    |
    <a href="https://github.com/whatisnuclear/website">GitHub</a>
    |
    <a href="https://twitter.com/whatisnuclear">Twitter</a>
  </p>
</footer>
<script src="/dist/bootstrap-5.2.1-dist/js/bootstrap.bundle.min.js"></script>

{% if page.layout == "gallery" %}
  <script src="https://cdn.jsdelivr.net/npm/bs5-lightbox@1.8.2/dist/index.bundle.min.js"></script>
{% endif %}
