<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1" name="viewport">
{%- capture fulltitle -%}
{%- if page.title -%}{{ page.title | strip_html | escape }}{%- else -%}{{ site.title | escape }}{%- endif -%} {%- if page.subtitle -%}{%- unless page.title contains "?" %} &ndash;{%- endunless %} {{page.subtitle }}{%- endif -%}
{%- endcapture -%}
<title>{{ fulltitle }}</title>
<meta
  content="{{ page.description | default: page.excerpt | default: site.description | strip_html | normalize_whitespace | escape }}"
  name="description"
>
<link
  href="{{ page.url | replace:'index.html','' | absolute_url }}"
  rel="canonical"
>
<link
  href="{{ '/feed.xml' | relative_url }}"
  rel="alternate"
  title="{{ site.title | escape }}"
  type="application/rss+xml"
>

<meta content="{{ site.data.authors[page.author].name }}" name="author">

<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/svg+xml" href="/favicon.svg">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<meta name="apple-mobile-web-app-title" content="WiN">
<link rel="manifest" href="/site.webmanifest">

<meta name="theme-color" content="#ffffff">

<meta
  content="{{ page.url | replace:'index.html','' | absolute_url }}"
  property="og:url"
>
<meta content="What is nuclear?" property="og:site_name">
{% if page.date -%}
  <meta name="date" content="{{ page.date  | date: '%Y-%m-%d'}}">
  <meta name="citation_date" content="{{ page.date  | date: '%Y-%m-%d'}}">
{%- endif %}
{% if page.last_modified_at -%}
  <meta
    name="last-modified"
    content="{{ page.last_modified_at | date: '%Y-%m-%d'}}"
  >
{% endif %}
<meta
  content="{{ fulltitle }}"
  property="og:title"
>
<meta
  content="{{ site.url }}{{ page.image | default: '/img/reactor.png' }}"
  property="og:image"
>
{% if page.summary %}
  <meta content="{{ page.summary }}" property="og:description">
{%- elsif page.description -%}
  <meta
    content="{{ page.description | strip_html | normalize_whitespace | escape }}"
    property="og:description"
  >
{%- elsif page.excerpt -%}
  <meta
    content="{{ page.excerpt | strip_html | normalize_whitespace | escape}}"
    property="og:description"
  >
{%- else -%}
  <meta
    content="{{ site.description  | strip_html | normalize_whitespace | escape}}"
    property="og:description"
  >
{% endif %}

<meta content="website" property="og:type">
<meta content="/img/reactor_web.svg" property="og:logo">

<meta content="@{{ site.twitter_username }}" name="twitter:site">
<meta content="@{{ site.twitter_username }}" name="twitter:creator">
<meta content="{{ page.title | strip_html}}" name="twitter:title">
{% if page.summary %}
  <meta
    content="{{ page.summary | strip_html | normalize_whitespace | escape}}"
    name="twitter:description"
  >
{%- elsif page.description -%}
  <meta
    content="{{ page.description | strip_html | normalize_whitespace | escape}}"
    name="twitter:description"
  >
{%- else -%}
  <meta
    content="{{ site.description | strip_html | normalize_whitespace | escape}}"
    name="twitter:description"
  >
{%- endif -%}
{% if page.image %}
  <meta content="summary_large_image" name="twitter:card">
  <meta content="{{ site.url }}{{ page.image }}" name="twitter:image">
{%- else -%}
  <meta content="summary" name="twitter:card">
  <meta content="{{ site.title_image }}" name="twitter:image">
{%- endif -%}

{%- comment -%}Do dark mode before css to avoid a flash. bah it still flashes{%- endcomment -%}
<script src="/dist/darkMode.js"></script>

{% unless page.nocss %}
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/all.min.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
    crossorigin="anonymous"
  >
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
    crossorigin="anonymous"
  >
  <link
    href="{{ '/dist/whatisnuclear.css' | relative_url }}?{{ site.time | date: '%s' }}"
    rel="stylesheet"
  >
  {% for cssf in page.css -%}
    <link
      href="{{ '/dist/' }}{{ cssf }}?{{ site.time | date: '%s' }}"
      rel="stylesheet"
    >
  {% endfor %}
{%- endunless -%}
{% if page.mathjax %}
  <script>
    window.MathJax = {
      tex: {
        inlineMath: [
          ['$', '$'],
          ['\\(', '\\)'],
        ],
        displayMath: [
          ['$$', '$$'],
          ['\\[', '\\]'],
        ],
        processEscapes: true,
      },
    };
  </script>
  <script
    src="https://cdn.jsdelivr.net/npm/mathjax@4.1.0/tex-mml-chtml.js"
    defer
    integrity="sha384-pTCnJ6SV7q3Uxsux1a1dYA7psHUmFQB178t6FtIE16r5QY5EibXwxLy9KRzBqM1w"
    id="MathJax-script"
    crossorigin="anonymous"
  ></script>
{%- endif -%}
{% if page.comments %}
  {%- include discourse_comments.html -%}
{% endif %}

{%- include breadcrumbs.html -%}
