<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"
      ><img
        alt="A small icon of a
                          cooling tower with an atom symbol on it and a reactor with a lightning
                          symbol on it."
        class="navbar-brand-icon"
        height="40"
        src="/img/reactor_web.svg"
        width="40"
    /></a>
    <button
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler"
      data-bs-target="#navbarSupportedContent"
      data-bs-toggle="collapse"
      type="button"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    {%- assign page_name = page.path | split: "." | first -%}

    {% comment %}
      Check last letter for / in pages to handle activating the heading for e.g. news/ and safety_minutes/
    {% endcomment %}
    {%- assign last_letter = page.url | split: "" | last -%}
    {%- if last_letter == "/" -%}
      {%- assign page_name = page_name | append: "/" -%}
    {%- endif -%}
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {%- for section in site.data.pages -%}
          <li class="nav-item dropdown ">
            <a
              aria-expanded="false"
              class="nav-link dropdown-toggle {% if section.pages contains page_name %}active{% endif %}"
              data-bs-toggle="dropdown"
              href="#">
              {{ section.title }}
              <span class="caret{% if section.pages contains page_name %} orange{%- endif -%}"></span>
            </a>
            {%- include menu_ul.html items=section.pages folder=section.title -%}
          </li>
        {%- endfor -%}
        <li class="nav-item">
          <a class="nav-link" href="/feed.xml" title="Link to RSS Feed">
            <i class="fa fa-rss" style="color: #ee802f"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
