<ul class="dropdown-menu">
{%- for item in include.items -%}
    {%- if item == "index" -%}
    {%- assign item_url= "/" -%}
    {%- elsif item == "safety-minutes" -%}
    {%- assign item_url= "/safety-minutes/" -%}
    {%- else -%}
    {%- assign item_url = item | prepend:"/" |  append: ".html" -%}
    {%- endif -%}
    {%- assign p = site.pages | where:"url", item_url | first -%}
    <li>
        <a class="dropdown-item {% if item_url == page.url %}active{% endif %}" href="{{ p.url }}">{{ p.title }}</a>
    </li>
{% endfor %}
</ul>
