<ul>
  {% assign pages = site.news | where_exp: 'page', 'page.tags contains include.tag' %}
  {% for page in pages %}
    <li>
      <a href="{{ page.url }}">{{ page.title }}</a>
    </li>
  {% endfor %}
</ul>
