<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include header.html %}

    <div class="container">
      <main>
        {%- if page.heading -%}
          <h1 class="display-4 mb-0">{{ page.heading }}</h1>
        {%- else -%}
          <h1 class="display-4 mb-0">{{ page.title }}</h1>
        {% endif %}
        {%- if page.subtitle -%}
          <p class="h5 mb-0 fw-light">{{ page.subtitle }}</p>
        {% endif %}
        {% include byline.html %}
        {{ content }}
      </main>
      {%- if page.about_author -%}{% include about_author.html %}{%- endif -%}
      {% include page_nav.html %}
      {% include footer.html %}
    </div>
  </body>
</html>
