<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="container">

    <h1 class="display-4 mb-0">{{ page.title }}</h1>

    {% if page.subtitle %}
    <h5 class="fw-light">{{ page.subtitle }}</h5>

    {% endif %}
    <p class="mb-1"><em><u>
    {% if page.byline %}
      {% if page.author %}  By 
        {% if site.data.authors[page.author] %}
        {{ site.data.authors[page.author].display -}}, 
        {% else %}
        {{ page.author }},
        {%- endif -%}
      {%- endif -%}
      {% if page.date %} {{ page.date | date: "%Y-%m-%d" }}, {% endif %}
      {% if page.byline_extra %} {{ page.byline_extra -}}, {% endif %}
      {% if page.updated %} Updated {{ page.updated | date: "%Y-%m-%d" }}, {% endif %}
       Reading time: {{ page.content | reading_time_as_i }}
    {% endif %}
    </u></em></p>

    {{ content }}

    {% include page_nav.html %}

    {% include footer.html %}

    </div>  <!-- end container-->

  </body>

</html>
